/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ confi initial ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/
/* ▄▄▄▄▄▄▄ confi initial ▄▄▄▄▄▄▄*/

body{
  background-color: black;
  color: aliceblue;
}


#github {
  margin: 2rem auto;
  padding: 2rem 2rem;
  background-color: rgb(15, 15, 15);
  border-radius: 18px;
  border: solid 1px gray;
}

#github h4 {
  text-align: left;
  padding-left:0.5rem;
}

#github h5 {
  text-align: left;
  font-size: .9rem;
  font-weight: 600;
  padding-left:0.5rem;
}
#github p {
  color: aliceblue;
  font-size: 1rem;
  padding: 0.4rem 0rem 0.4rem 2rem;
  background-color: rgba(39, 39, 39, 0.517);
  border-radius: 10px;
}